/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
    background-image: url("../images/skyrim_background.jpg");
}
.title {
    display: flex;
    justify-content: center;
    color: #648FAD;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.not {
    text-decoration: underline;
}
.logsign {
    display: flex;
    justify-content: center;
}